[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/IndentAnything"]
	path = .vim/bundle/IndentAnything
	url = git@github.com:vim-scripts/IndentAnything.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-golang"]
	path = .vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang
[submodule ".vim/bundle/mustache.vim"]
	path = .vim/bundle/mustache.vim
	url = git@github.com:juvenn/mustache.vim.git
